<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="VinSuite Suite">
  <test name="Service Layer Tests">
    <classes>
      <class name="com.vinsuite.service.PageFactoryGeneratorServiceTest"/>
      <class name="com.vinsuite.service.PageObjectGenerationServiceTest"/>
      <class name="com.vinsuite.service.TestCaseGenerationServiceTest"/>
    </classes>
  </test>
</suite>
